body {
	margin: 0;
	display: flex;
    justify-content: center;
}

#mainDivWindow {
	overflow: auto;
    background-color: #f9f9f9;
}

#mainDivWindow  >*{
	float: left;
}

div.container {
	margin: 10px;
    border: solid 1px #dfe2e5;
}

div.titleContainer {
	border-bottom: solid 1px #dfe2e5;
	background-color: #d0f2ff;
}

div.title {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

div.inner {
	padding: 10px;
}

div.canvasDiv {
    
}

div#log {
	height: 110px;
    width: 500px;
    background-color: black;
	color: white;
	word-wrap: break-word;
	overflow: auto;
}

div.accessoire {
	//width: 120px;
    //height: 130px;
    background-color: #9abaf5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caseMeuble {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fffdc4;
    height: 48px;
    width: 48px;
}

.caseVide{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #dcdcdc;
    height: 48px;
    width: 48px;
}

div.nameContainer >* {
	float: left;
}

div.nameLabel {
	padding-right: 10px;
}

#furnitureContainer .canvasDiv {
	height: 500px;
    width: 500px;
}

#viewerContainer .canvasDiv {
	height: 500px;
    width: 670px;
	overflow: auto;
}