body {
	margin: 0;
	display: flex;
    justify-content: center;
}

#mainDivWindow {
	overflow: auto;
    background-color: #f9f9f9;
}

#mainDivWindow  >*{
	float: left;
}

div.container {
	margin: 10px;
    border: solid 1px;
}

div.title {
	padding-bottom: 5px;
}

div.inner {
	padding: 10px;
}

div.canvasDiv {
    background-color: #d0f2ff;
}

#furnitureContainer .canvasDiv {
	height: 500px;
    width: 500px;
}

#viewerContainer .canvasDiv {
	height: 500px;
    width: 670px;
}